html {
	font-size: calc(14px + 6 * ((100vw - 320px) / 1920));
  height: 100%;
  background: $color-black;
  overflow-x: hidden;
}

body {
	margin: 0;
  padding: 2rem 0 0;
  min-height: 100%;
  color: $color-text;
  background: $color-background;
  background-attachment: fixed;

  font-family: $sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: .02em;

  position: relative;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:focus {
      outline-color: $color-main;
    }
  }
  transition: all .4s ease-in-out;
}

main {
  padding: 2rem 3rem 2rem;
  position: relative;
  z-index: 100;

  @media (max-width: $media-s) {
    padding: 2rem 1rem;
  }
}

section {
  position: relative;
  margin-bottom: 6rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}

@media (max-width: $media-s) {
  h1.page-title {
    font-size: 4rem;
  }
}

.simple-page {
  h2, h3, h4, h5, h6 {
    max-width: $width-p;
    text-align: left;
    margin: 0 auto 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 6rem;
  }
  p {
    &.lead {
      max-width: $width-lead;
    }
  }
  p a {
    color: $color-green;
    &:nth-child(2n+1) {
      color: $color-pink;
    }
    &:nth-child(3n+1) {
      color: $color-yellow;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    max-width: $width-p;
    margin: 0 auto;
    line-height: 1.5;
  }
}

h1 {
  font-size: 5rem;
  &.page-title {
    font-size: 7rem;
    max-width: 35rem;
    margin-top: 7rem;
    -webkit-text-stroke: $text-outline $color-main;
    text-stroke: $text-outline $color-main;
    color: transparent;
    line-height: 1;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 2.4rem;

  &.subtitle {
    font-size: 1.4rem;
    font-weight: normal;
    font-family: $monospace;
    margin-bottom: 2rem;
  }

  &.section-heading {
    -webkit-text-stroke: $text-outline $color-main;
    text-stroke: $text-outline $color-main;
    color: transparent;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

h3 {
  font-size: 2rem;
}

a {
  color: $color-main;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}

p {
  line-height: 1.6;
  max-width: $width-p;
  position: relative;

  &.lead {
    font-family: $monospace;
    font-size: 1.2rem;
    text-align: center;
  }
  a {
    color: $color-link;
  }
}

.button, input[type=submit] {
  display: block;
  text-align: center;
  background: $color-pink;
  color: $color-black;
  width: $width-plus;
  max-width: 100%;
  margin: 1rem auto;
  font-size: 1rem;
  font-family: $monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .6em 1em;
  border: none;
  border-radius: 0;

  &:hover {
    box-shadow: 0 0 10px $color-pink;
    color: $color-white;
  }
}

.iframe-wrapper {
  width: 100%;
  margin: 2rem auto;
  padding: 0 0 56.25% 0;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.light-theme {
  background: $color-white;
  color: $color-black;
  a {
    color: $color-blue;
  }
  .simple-page {
    p a {
      color: $color-blue;
      &:nth-child(2n+1) {
        color: $color-pink;
      }
      &:nth-child(3n+1) {
        color: $color-purple;
      }
    }
  }
  .button {
    color: $color-black;
  }
  .button:hover {
    box-shadow: 0 0 4px $color-pink;
    color: $color-black;
  }
  h1.page-title {
    -webkit-text-stroke: 0;
    text-stroke: 0;
    color: $color-black;
  }
  h2.section-heading {
    -webkit-text-stroke: $text-outline $color-black;
    text-stroke: $text-outline $color-black;
  }
}

@media (max-width: $media-m) {
  h1.page-title {
    font-size: 5rem;
  }
}

@media (max-width: $media-s) {
  h2.section-heading {
    font-size: 3.5rem;
  }
}