html {
	font-size: calc(14px + 6 * ((100vw - 320px) / 1920));
  height: 100%;
  background: $color-black;
  overflow-x: hidden;
}

body {
	margin: 0;
  padding: 2rem 0 0;
  min-height: 100%;
  color: $color-text;
  background: $color-background;
  background-attachment: fixed;

  font-family: $sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: .02em;

  position: relative;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:focus {
      outline-color: $color-main;
    }
  }

  @media screen and (prefers-color-scheme: light) {
    background: $color-white;
    color: $color-black;
  }
}

main {
  padding: 2rem 3rem 8rem;
  position: relative;
  z-index: 100;

  @media (max-width: $media-s) {
    padding: 2rem 1rem;
  }
}

section {
  position: relative;
  margin-bottom: 6rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 800;
  text-align: center;
}

.simple-page {
  h1, h2, h3, h4, h5, h6 {
    max-width: $width-p;
    text-align: left;
    margin: 0 auto 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 6rem;
  }
  h1 {
    &.page-title {
      margin: 4rem auto 3rem;
      text-align: center;
    }
  }
  p {
    &.lead {
      max-width: $width-lead;
    }
  }
  a {
    color: $color-green;
    &:nth-child(2n+1) {
      color: $color-pink;
    }
    &:nth-child(3n+1) {
      color: $color-yellow;
    }
  }
  ul {
    max-width: $width-p;
    margin: 0 auto;
  }
}

h1 {
  font-size: 5rem;
  &.page-title {
    margin-top: 4rem;
  }
}

h2 {
  font-size: 2.4rem;

  &.subtitle {
    font-size: 1.4rem;
    font-weight: normal;
    font-family: $monospace;
    margin-bottom: 2rem;
  }
}

h3 {
  font-size: 2rem;
}

a {
  color: $color-main;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}

p {
  line-height: 1.6;
  max-width: $width-p;
  position: relative;

  &.lead {
    font-family: $monospace;
    font-size: 1.2rem;
    text-align: center;
  }
  a {
    color: $color-link;
  }
}

.button {
  display: block;
  text-align: center;
  background: $color-pink;
  color: $color-black;
  width: $width-plus;
  max-width: 100%;
  margin: 1rem auto;
  font-size: 1rem;
  font-family: $monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .6em 1em;
  border: none;

  &:hover {
    box-shadow: 0 0 10px $color-pink;
    color: $color-white;
  }

  @media screen and (prefers-color-scheme: light) {
    &:hover {
      box-shadow: 0 0 4px $color-pink;
      color: $color-black;
    }
  }
}

.hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (prefers-color-scheme: light) {
  a {
    color: $color-blue;
  }
  .simple-page {
    a {
      color: $color-blue;
      &:nth-child(2n+1) {
        color: $color-pink;
      }
      &:nth-child(3n+1) {
        color: $color-purple;
      }
    }
  }
}