
$sans-serif: 'Gordita', sans-serif;
$monospace: 'Bergen Mono', monospace;

$font-xs: 0.6rem;
$font-s: 0.8rem;

$color-white: #ffffff;
$color-black: #000000;
$color-green: rgb(43, 225, 164);
$color-turquoise: #1FC9C9;
$color-blue: #3400E0;
$color-teal: #002027;
$color-yellow: #FFF444;
$color-red: #F72C5A;
$color-orange: #F47C31;
$color-pink: #FD009D;
$color-purple: #921083;
$color-violet: #310245;
$color-main: $color-green;

$color-background: radial-gradient(circle at top, $color-teal, $color-black);
$color-text: $color-white;
$color-link: $color-main;
$color-hover: $color-main;

$width-p: 32rem;
$width-plus: 36rem;
$width-lead: 42rem;
$width-full: 1200px;

$media-s: 700px;
$media-m: 1000px;
$media-l: 1400px;
$media-xl: 1900px;