
$sans-serif: 'Gordita', sans-serif;
$monospace: 'Bergen Mono', monospace;

$font-xs: 0.6rem;
$font-s: 0.8rem;

$color-white: #ffffff;
$color-black: #000000;
$color-main: #24e6a5;

$color-background: $color-black;
$color-text: $color-white;
$color-link: $color-main;
$color-hover: $color-main;

$width-p: 32rem;

$sm: 800px;